/OLD*
src_debug
src_oldold
*.o
*.so
a.out
snippets/*.inp
*~
*.ps
*.zip
*.mod
*.pyc
oldstuff
*.aux
*.log
test
play
NOTES
__pycache__/
/build/
/disklab.egg-info/
/disklab/diffusion.cpython-36m-darwin.so
/disklab/diffusion.cpython-36m-darwin.so.dSYM/
/disklab/diffusion.so*
/disklab/opacity/bhmie_fortran.cpython*
models
/disklab/opac/precalc/README_ORIGIN*
.ipynb_checkpoints/
results_*.hash
